<!DOCTYPE html>
<html>
<body>
    <h1>Add new Student</h1>
    <form action="/students/register" method="POST">
        <input type="text" name="name" placeholder=" Enter Name">
        <select name="branch">
            <option value="CSE">CSE</option>
            <option value="Civil">Civil</option>
            <option value="Mechanical">Mechanical</option>  
        </select>
        <button type="submit">Submit</button>
    </form>

    <hr>
    <h3>Current Students</h3>
    <ul>
       <% allStudents.forEach(s => { %>
        <li>Name: <%= s.name %> - Branch: <%= s.branch %></li>
       <% }); %>
    </ul>
</body>
</html>